---
---

@import 'variables';

.post-title {
    background: $main;
    color: #FFF;

    h1 {
        margin-left: 33.5px;
    }
}

.post {
    img {
        max-width: 400px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
