<div class="container">
    <div class="about">
        <h3> About Me </h3>
        <p> {{site.user_description}} </p>
    </div>
    <div class="row skills">
        <div class="skill col-xs-12 col-sm-6">
            <h4>Design</h4>
            <div class="row">
                <i class="col-xs-4 devicon-html5-plain-wordmark"></i>
                <i class="col-xs-4 devicon-bootstrap-plain-wordmark colored"></i>
                <i class="col-xs-4 devicon-sass-original colored"></i>
            </div>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
        </div>
        <div class="skill col-xs-12 col-sm-6">
            <h4>Code</h4>
            <div class="row">
                <i class="col-xs-4 devicon-javascript-plain colored"></i>
                <i class="col-xs-4 devicon-react-original-wordmark colored"></i>
                <i class="col-xs-4 devicon-nodejs-plain-wordmark"></i>
            </div>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
        </div>
        <div class="skill col-xs-12 col-sm-6">
            <h4>APIs</h4>
            <div class="row">
                <i class="col-xs-4 devicon-git-plain"></i>
                <i class="col-xs-4 devicon-gulp-plain colored"></i>
                <i class="col-xs-4 devicon-atom-original-wordmark"></i>
            </div>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
        </div>
        <div class="skill col-xs-12 col-sm-6">
            <h4>Tools</h4>
            <div class="row">
                <i class="col-xs-4 devicon-git-plain"></i>
                <i class="col-xs-4 devicon-gulp-plain colored"></i>
                <i class="col-xs-4 devicon-atom-original-wordmark"></i>
            </div>
            <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
        </div>
    </div>
</div>
