<div class="container projects">
    <h3>Featured Projects</h3>
    {% for post in site.posts%}
        {% if post.categories contains "project" %}
            <div class="row project">
                <div class="col-md-6">
                    <img alt="{{ post.image_alt }}" src="{{ post.image | prepend: site.baseurl }}" />
                </div>
                <div class="col-md-6">
                    <h4>{{ post.title }}</h5>
                    <ul>
                        {% for tag in post.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ post.excerpt }}</p>
                    <a class="project-link" href="{{ post.url }}">Check it out</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
